# Backup directory
STM32 with BT Hardware-backups/

# Auto-saved files
#auto_saved_files#.txt

# KiCad generated cache & tables
fp-info-cache
fp-lib-table
sym-lib-table

# Lock/prl files
*.kicad_sch.lck
*.kicad_prl

# Symbol backups
*.bak
*.kicad_sym
